<!-- search bar -->
<form action="/restaurants/search" novalidate>
  <div class="container search-bar">
    <div class="search-bar-outer">
      <div class="search-bar-inner">

        <h4 id="search-title" class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" id="search-input" class="form-control" placeholder="請輸入餐廳名字"
            aria-label="Restaurant Name..." value="{{keyword}}" aria-describedby="search-button" required>
          <input type="text" name="searchType" id="searchType"
            value="{{#if searchType}}{{searchType}}{{else}}餐廳名字{{/if}}" style="display: none;">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>

          {{!-- dropdown options --}}
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle search-toggle" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{#if searchType}}{{searchType}}{{else}}搜尋方式{{/if}}
            </button>
            <div class="dropdown-menu search-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item search-item " id='search-name' href="#">餐廳名字<span
                  class="create-space">&nbsp&nbsp&nbsp<i class="fas fa-check"></i></span></a>
              <a class="dropdown-item search-item" id='search-category' href="#">餐廳種類<span
                  class="create-space">&nbsp&nbsp&nbsp<i class="fas fa-check"></i></span></a>
              <a class="dropdown-item search-item" id="search-rating" href="#">評價<span
                  class="create-space">&nbsp&nbsp&nbsp<i class="fas fa-check"></i></span></a>
              <a class="dropdown-item search-item" id='search-location' href="#">區域<span
                  class="create-space">&nbsp&nbsp&nbsp<i class="fas fa-check"></i></span></a>
            </div>
          </div>
          {{!-- /dropdown options --}}
        </div>





      </div>
    </div>
  </div>

  {{!-- sort options --}}
  {{!-- <form action="/restaurants/sort"> --}}
    <div class="sort-options-container d-flex justify-content-end mb-5">

      <div class="dropdown show">
        <button class="btn btn-secondary dropdown-toggle sort-toggle" href="#" role="button" id="dropdownMenuLink"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{#if sortType}}{{sortType}}{{else}}排序方式{{/if}}
        </button>

        {{!-- sort form --}}

        <input type="text" id="sortType" name="sortType" value="{{#if sortType}}{{sortType}}{{else}}{{/if}}"
          style="display: none;">
        <div class="dropdown-menu sort-menu" aria-labelledby="dropdownMenuLink">
          <button type="submit" class=" dropdown-item sort-item" id="sort-h2l">評價 高-低<span
              class="create-space">&nbsp&nbsp&nbsp<i class="fas fa-check"></i></span></button>
          <button type="submit" class=" dropdown-item sort-item" id="sort-l2h">評價 低-高<span
              class="create-space">&nbsp&nbsp&nbsp<i class="fas fa-check"></i></span></button>
          <button type="submit" class=" dropdown-item sort-item" id="sort-a2z">名字 A-Z<span
              class="create-space">&nbsp&nbsp&nbsp<i class="fas fa-check"></i></span></button>
          <button type="submit" class=" dropdown-item sort-item" id="sort-z2a">名字 Z-A<span
              class="create-space">&nbsp&nbsp&nbsp<i class="fas fa-check"></i></span></button>

        </div>
      </div>
    </div>
    {{!--
  </form> --}}
</form>



<!-- Loader animation -->
<div class="loader-container" hidden>
  {{!-- https://loading.io --}}
  <img src="/Loader.svg" alt="">
</div>

<!-- restaurant list -->
<div class="card-container container mt-5">


  <div class="row">

    <div class="col-md-10 col-12 mx-auto">


      <div class="card-columns">

        {{#each restaurants}}
        <a href="/restaurants/{{this._id}}" class="text-secondary">
          <div class="card mb-3">
            <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
            <div class="card-body p-3 d-flex flex-column ">
              <h6 class="card-title mb-1 text-center">{{this.name}}</h6>

              <div class="info d-flex justify-content-around mt-3" style="width:100%">
                <span class="badge badge-pill badge-light font-weight-normal" id="category">
                  <div class="restaurant-category mb-1">
                    <i class="fas fa-utensils pr-2"></i> {{this.category}}
                  </div>
                </span>

                <span id=' rating'
                  class="badge badge-pill badge-danger font-weight-normal text-center d-flex align-items-center justify-content-center">
                  {{this.rating}}
                  <i class="fas fa-star fa-xs"></i>
                </span>

              </div>

              {{!-- <a href="/restaurants/{{this._id}}?_method=DELETE"><i class=" fas fa-trash-alt"></i></a> --}}
              <div class="edit-container d-flex justify-content-end mt-5">

                <a href="/restaurants/{{this._id}}/edit"><i class="fas fa-edit" style="font-size:25px"></i></a>

                <form class="ml-2" action="/restaurants/{{this._id}}?_method=DELETE" method='POST'>
                  <button class="delete-btn" type=" submit">
                    <i class=" fas fa-trash-alt" style="font-size:25px"></i>
                  </button>
                </form>

              </div>

            </div>
          </div>
        </a>
        {{/each}}

      </div>
    </div>



  </div>
</div>


<script src="/javascripts/dom/for_Index_NoResult.js"></script>
<script src="/javascripts/dom/sort_Options.js"></script>