<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/restaurants/search">
        <h4 id="search-title" class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="請輸入餐廳名字" aria-label="Restaurant Name..."
            value="{{keyword}}" aria-describedby="search-button" required>
          <input type="text" name="searchType" id="searchType"
            value="{{#if searchType}}{{searchType}}{{else}}餐廳名字{{/if}}" style="display: none;">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>

          {{!-- dropdown options --}}
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{#if searchType}}{{searchType}}{{else}}搜尋方式{{/if}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">餐廳名字 <span class="create-space">&nbsp&nbsp&nbsp<i
                    class="fas fa-check"></i></span></a>
              <a class="dropdown-item" href="#">餐廳種類 <span class="create-space">&nbsp&nbsp&nbsp<i
                    class="fas fa-check"></i></span></a>
              <a class="dropdown-item" href="#">評價 <span class="create-space">&nbsp&nbsp&nbsp<i
                    class="fas fa-check"></i></span></a>
              <a class="dropdown-item" href="#">區域 <span class="create-space">&nbsp&nbsp&nbsp<i
                    class="fas fa-check"></i></span></a>
            </div>
          </div>
          {{!-- /dropdown options --}}
        </div>
      </form>
    </div>
  </div>
</div>

<!-- restaurant list -->
<div class="loader-container" hidden>
  {{!-- https://loading.io --}}
  <img src="/Loader.svg" alt="">
</div>


<div class="card-container container mt-5 d-flex justify-content-center">
  <p id="no-match">Could Not Found "{{keyword}}"</p>
</div>

<script src="/javascripts/dom/for_Index_NoResult.js"></script>